dist: xenial
language: python
python:
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.8-dev"  # 3.8 development branch
install:
  - pip install -r test-requirements.txt
  - python setup.py install
before_script:
  - flake8 . --count --select=E9,F63,F72,F82 --show-source --statistics
script:
  - pytest
